<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.cmoa.dao.i.EmployeeMapper">

	<select id="getEmpList" resultType="com.test.cmoa.entity.Employee">
		select id,emp_name,user_id from employees 
	</select>	
	<select id="getEmpById" resultType="com.test.cmoa.entity.Employee">
		select id,emp_name,user_id from employees where id= #{id}
	</select>
</mapper>